.dropdown {
    background-color: rgba(255, 255, 255, 0.56);
    max-width: 97%;
    height: 26px;
    border: 1px solid #23253647;
    padding: 10px 10px 10px 0;
    cursor: pointer;
    transition: 0.4s;

    &-head {
        display: flex;
        justify-content: space-between;

        align-items: center;

        .head-text {
            font-size: 14px;
            font-size: normal;
            font-weight: 400;
            line-height: 20px;
            color: #232536e3;
            margin-left: 10px;
        }

        img {
            margin-right: 2px;
            max-height: 25px;
            transition: 0.4s;
        }
    }

    &-content {
        width: 226px;
        padding: 10px;
        margin-top: 30px;
        background-color: white;
        border: 1px solid #2325360f;
        box-shadow: 7px 7px 10px -10px rgba(35, 37, 54, 0.49);
        opacity: 0;
        pointer-events: none;
        transition: 0.4s;


        &__categories {

            .categories-item {
                padding: 10px;
                cursor: pointer;
                transition: 0.4s;
                color: #232536;

                &:hover {
                    background-color: #F4F0F8;
                }
            }
        }

        &__tags {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .tags-item {
                background-color: #FBF6EA;
                color: #232536;
                border-radius: 7px;
                padding: 5px;
                cursor: pointer;
                transition: 0.4s;
            }
        }
    }


}

.activeDd {
    opacity: 1;
    pointer-events: all;
    transition: 0.4s;
    z-index: 99;
    position: relative;
}

.activeArrow {
    transition: 0.4s;
    transform: rotate(180deg);
}

@media (max-width: 1250px) {
    .dropdown {
        width: 100%;
        height: 26px;
    }
}

@media (max-width: 800px) {
    .dropdown {
        width: 223px;
        height: 26px;
    }
}

@media (max-width: 500px) {
    .dropdown {
        width: 327px;
        height: 26px;

        &-head {
            .head-text {
                font-size: 12px;
            }

            img {
                max-height: 23px;
            }
        }
    }
}

@media (max-width: 380px) {}

@media (max-width: 320px) {
    .dropdown {
        width: 250px;
        height: 26px;
        padding: 8px 10px 8px 0;
    }
}