.baseInput {
    border: 1px solid #4C4C4C;
    display: flex;
    align-items: center;
    width: 340px;
    height: 28px;
    padding: 14px 25px;

    input {
        border: none;
        width: 100%;
        background-color: transparent;
        outline: none;
    }
}

.invalid {
    border: 1px solid rgb(255, 42, 42);

    input {
        &::placeholder {
            color: rgba(165, 28, 28, 0.815);
        }
    }
}

@media (max-width: 1250px) {}

@media (max-width: 800px) {}

@media (max-width: 500px) {
    .baseInput {
        width: 231px;
        height: 24px;
        padding: 12px 22px;

        &::placeholder {
            font-size: 10px;
        }
    }
}

@media (max-width: 320px) {
    .baseInput {
        width: 191px;
        height: 24px;
        padding: 8px 20px;

        &::placeholder {
            font-size: 10px;
        }
    }
}