.fileInput {
  position: relative;
  cursor: pointer;

  input {
    position: absolute;
    opacity: 0;
    display: block;
    width: 5;
    height: 6;
  }
}

@media (max-width: 320px) {
  .fileInput {
    input {
      width: 215px;
    }
  }
}
