.newsList {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 1200px;
  width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__array {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: center;
  margin-top: 50px;
  font-size: 22px;

  &__item {
    &:nth-child(1) {
      margin-right: 10px;
    }

    &:nth-child(7) {
      margin-left: 10px;
    }
  }

  &__link {
    border-radius: 30px;
    color: black;
    padding: 4px 10px;
    cursor: pointer;
  }
}

.activeBtnPag {
  .pagination__link {
    color: rgb(0, 0, 0);
    background-color: #ffd050;
  }
}

@media (max-width: 1250px) {
  .newsList {
    max-width: 700px;
    width: 700px;

    &__array {
      gap: 40px;
    }
  }
}

@media (max-width: 800px) {
  .newsList {
    max-width: 490px;
    width: 490px;

    &__array {
      gap: 50px;
    }
  }
}

@media (max-width: 500px) {
  .newsList {
    max-width: 340px;
    width: 340px;

    &__array {
      gap: 20px;
    }
  }
}

@media (max-width: 320px) {
  .newsList {
    max-width: 265px;
    width: 265px;
  }
}
